body { font-family: Roboto; }
.hero_wrap { outline: 0px solid green; width: 700px; margin: 0 auto; height: 100px; background-color: #4A785B; border-radius: 2px; border-radius: 5px; } 
.hero_text { text-align: center; font-size: 50px; font-family: Permanent Marker;position: relative; top: 10px; color: #E4E9E5; }

.info_wrap { outline: 0px solid #4A785B; width: 700px; min-height: 400px; margin: 0 auto; background-color: #FAFAFA; position: relative; border-radius: 5px; }
.info_data { outline: 0px solid red; width: 500px; margin: 0 auto; }
.info_text { outline: 0px solid green; color: #212121; text-align: center; }
.welcome { font-size: 35px; font-family: Permanent Marker; }
.steps { text-align: left; }
.flag { width: 700px; }

.search_item { outline: 0px solid red; width: 700px; padding-bottom: 15px;  }
.search_button { cursor: pointer; border: 1px solid #212121; width: 200px; text-align: center; font-size: 18px; display: inline-block; border-radius: 5px; color: #212121; margin-left: 150px; }
.search_button:hover { border: 1px solid #4A785B; color: #4A785B; } 

.countries_wrap { background-color: #FAFAFA; width: 700px; margin: 0 auto; position: relative; bottom: 15px;}
.table_style { outline: 0px solid #A9A9A9; width: 600px; text-align: center; position: relative; margin-left: 25px; }
.header_wrap {  background-color: transparent; font-family: Permanent Marker; font-size: 20px; }
.goHome_button { outline: 0px solid red; width: 100%; padding-top: 50px; padding-bottom: 15px; }
.home_button { cursor: pointer; border: 1px solid #212121; width: 200px; text-align: center; font-size: 18px; display: inline-block; border-radius: 5px; color: #212121; margin: 0 auto; margin-left: 250px; }
.home_button:hover { border: 1px solid #4A785B; color: #4A785B; }
td:hover { color: #4A785B; cursor: pointer; }

.single_wrap { outline: 0px solid green; width: 700px; margin: 0 auto; background-color: #FAFAFA; min-height: 700px; position: relative; bottom: 50px; }
.data_wrap { outline: 0px solid blue; width: 500px; margin: 0 auto; position: relative; top: 75px; }
.data_unit { position: relative; text-align: center; }
.country_button { cursor: pointer; border: 1px solid #212121; width: 150px; text-align: center; font-size: 18px; display: inline-block; border-radius: 5px; color: #212121; margin: 0 auto; margin-top: 25px; }
#home { margin-left: 86.5px; }
#browse { margin-left: 25px; }
.country_button:hover { border: 1px solid #4A785B; color: #4A785B; } 
.country_name { font-family: Permanent Marker; font-size: 40px; text-align: center; }
.stat_wrap { te }
.neighbor_list { display: inline-block; padding: 5px; }
.neighbor:hover { color: #9E9E9E; cursor: pointer; }
.neighbor_wrap { display: inline-block; position: relative; }
.flag_wrap img { height: 125px; margin-bottom: 25px; }

.openList-yes { display: block; }
.openList-no { display: none; } 
.openHome-yes { display: block; }
.openHome-no { display: none; } 
.openInfo-yes { display: block; }
.openInfo-no { display: none; } 